@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$button-color: rgb(80, 187, 196);
$button-border-color: rgb(80, 187, 196);
$button-hover-color: #63c3cb;
$button-active-color: #35a1aa;
$box-shadow-color: rgb(59, 179, 189.3);

$theme-colors: (
  "preply-color": rgb(80, 187, 196),
);

$arial: "Arial";
$roboto: "Roboto";

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

.header {
  width: 100%;
  position: relative;
  background: transparent
    linear-gradient(to bottom, rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0));
}

.header:hover .navbar {
  background: #fff;
  color: black;
}

.header:hover .header-link {
  color: black;
}

.header:hover .fonticon {
  color: #000;
}

.header:hover .red-fill {
  fill: #f9463d;
}

.header:hover .text-fill {
  fill: #000;
}

.header:hover .cyan-fill {
  fill: #3bb3bd;
}

.navbar {
  font-family: "Arial";
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  z-index: 4;
  white-space: nowrap;
  color: black;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  position: absolute;

  padding: 0 32px;
  left: 0;
  right: 0;
  transition: background 0.2s;
}

.leftside-links > li {
  padding: 10px;
}

.login {
  padding-left: 5px;
}

.rightside-icons {
  list-style: none;
  display: flex;
}

.rightside-icons > li {
  padding: 10px;
}

.fa-question-circle,
.fa-sign-in-alt {
  color: white;
  font-size: 16px;
  height: 15px;
}

.leftside-links {
  list-style: none;
  display: flex;
}

.preply-logo-div {
  margin-right: 50px;
}

.promo {
  position: relative;
  margin-bottom: -131px;
  width: 100%;
  height: 43vh;
  min-height: 564px;
}

.promo-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.promo-img::after {
  content: "";
  position: absolute;
  top: 28%;
  bottom: 0;
  left: 0;
  right: 0;
}

#google-login {
  background-color: #5a95f5;
}

.login-form {
  margin-bottom: 100px;
  background-color: #fff;
  font-family: "Roboto";
  height: 60vh;
  width: 40vw;
}

.upper-login {
  display: flex;
  justify-content: space-around;
}

.login-text {
  font-size: 24px;
  font-weight: 500;
}

.login-span {
  font-size: 14px;
  color: #63c3cb;
}

.login-span-text {
  font-size: 14px;
  color: #999;
}

.login-form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edeff0;
  height: 100vh;
}

.or-span {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #999;
  margin: 8px 0px;
  font-size: 14px;
}
.or-span::before,
.or-span::after {
  content: "";
  flex-grow: 1;
  background: #999;
  height: 0.6px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

.form-label {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 600;
  line-height: 18px;
  color: #333;
  letter-spacing: 0.5px;
}

/*
.form-input:active {
  background: #fffcc8;
  border-color: #ebd5aa;
  border: 1px solid #ebd5aa;
}
*/

.password-span {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  color: #63c3cb;
  font-family: "Roboto";
}

.email-span {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  color: #63c3cb;
  font-family: "Roboto";
}

.form-span-p {
  color: #63c3cb;
  text-decoration: none;
  text-align: center;
}

.formspan-link {
  text-decoration: none;
}

.bottom-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upper-footer {
  color: #e3e5e6;
  font-family: "Arial";
  font-size: 14px;
  line-height: 24px;
  background-color: #384047;
}

.lower-footer {
  color: #e3e5e6;
  font-family: "Arial";
  font-size: 12px;
  line-height: 20.5667px;
  background-color: #32393f;
}

.upper-links,
.upper-links:hover {
  color: #e3e5e6;
}

.below-links,
.below-links:hover {
  color: #e3e5e6;
  text-decoration: none;
}

.footer-h {
  font-size: 16px;
  line-height: normal;
  color: #fff;
  font-weight: inherit;
  padding: 10px 0;
}

.upper-first-div {
  display: flex;
}

.upper-first-ul {
  list-style: none;
  padding: 50px;
}

.upper-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  padding-right: 250px;
}

.upper-below-div {
  display: flex;
}

.upper-second-ul {
  list-style: none;
  padding: 30px;
}

.lower-upper-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lower-ul {
  list-style: none;
  padding: 50px;
}

.lower-lower-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lowest-ul {
  display: flex;
  list-style: none;
}

.lowest-ul > li {
  padding: 0 15px;
}

.facebook-icon {
  height: 30px;
  font-size: 16px;
}

.vk-icon {
  color: #384047;
  background-color: white;
}

.usa-flag {
  height: 10px;
  padding: 0 5px;
}

.usa {
  color: white;
}

.icon {
  height: 20px;
  margin: 5px;
  font-size: 16px;
}

.image-div {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 100px;
}

.first-half-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.second-half-nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-link {
  color: white;
  text-decoration: none;
}

.header-link:hover {
  color: #81868c;
  text-decoration: none;
}

.header-title {
  color: white;
  font-size: 14px;
}

.preply-svg {
  height: 25px;
}

.preply-svg path {
  fill: #fff;
}

.form-input:focus {
  border: 1px solid rgba(65, 181, 190, 0.8) !important;
  box-shadow: 0 0 3px rgba(65, 181, 190, 0.8) !important;
  -moz-box-shadow: 0 0 3px rgba(65, 181, 190, 0.8) !important;
  -webkit-box-shadow: 0 0 3px rgba(65, 181, 190, 0.8) !important;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  background-color: #ffffff;
}

.form-input {
  line-height: 20px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  height: 25px;
  border: 1px solid rgb(204, 204, 204);
}

.bottom-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.password-span {
  padding: 20px;
}

.email-span {
  padding: 20px;
}

.form-label,
.form-input {
  padding: 0 5px;
  margin: 0 10px;
}

.img-div {
  width: 100%;
  height: 100%;
}

.-img-div > img {
  width: 100%;
  height: 100%;
}

.btn {
  padding: 10px 120px;
  background-color: $button-color;
  border-color: $button-color;
  font-family: "Roboto";
  transition: color 50ms, background-color 50ms, border-color 50ms,
    box-shadow 0.2s;
  border-radius: 0px;

  &.btn:hover {
    background-color: $button-hover-color;
    border-color: $button-hover-color;
  }
}

.form-group {
  display: flex;
}

.email-form-group {
  padding-top: 100px;
}

.globe-upper-header {
  font-family: $arial;
  color: #384047;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 8px;
  text-align: center;
}

.globe-upper-p {
  font-family: $arial;
  font-size: 18px;
  line-height: 1.42;
  text-align: center;
  font-weight: 300;
  color: #6f757b;
}

.globe-icon {
  display: flex;
  width: 64px;
  height: 64px;
  background: #3bb3bd;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}

.globe-icon path {
  fill: #fff;
}

.globe-marker-icon {
  display: block;
  width: 50px;
  cursor: pointer;
  font-size: 14px;
  height: 50px;
}

.img-globe-div {
  height: 100%;
  width: 100%;
}
.img-globe {
  height: 100%;
  width: 100%;
}

.marker-globe {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 6px;
  border-radius: 50%;
  background: rgba(59, 179, 189, 0.7);
  box-shadow: 0 0 0 4px $box-shadow-color;
}

.skills-icon-break::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  transform: translateY(-50%);
  background-color: #f2f2f2;
}

.skills-icon-break {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
}

.skills-top-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  background: #fff;
  text-align: center;
  z-index: 2;
}

.skills-h2 {
  font-family: "Arial";
  color: #384047;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 8px;
}

.skills-p {
  font-family: "Arial";
  font-size: 16px;
  line-height: 1.4285714;
}

.skills-ul {
  font-family: "Arial";
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  padding: 32px 16px;
  display: flex;
  flex-flow: wrap;
}

.skills-li {
  text-align: left;
  align-items: flex-start;
  flex-direction: row;
  display: flex;
  list-style: none;
  color: #6f757b;
  margin-right: 16px;
}

.skills-svg-div {
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(59, 179, 189, 0.08);
  margin-bottom: 8px;
  flex-shrink: 0;
}

.help-icon,
.exit-icon {
  color: black;
}

.skills-li:nth-child(n-3) {
  margin-top: 24px;
}

.skills-title-p {
  font-family: "Arial";
  font-size: 18px;
  line-height: 1.4285714;
  font-weight: 400;
  margin-bottom: 8px;
  color: #384047;
}

.bottom-clock {
  transform: scale(0.75);
  font-size: 14px;
}

.skills-subtitle {
  font-family: "Arial";
  font-size: 18px;
  line-height: 1.4285714;
  text-align: center;
  color: #6f757b;
  font-weight: 300;
}

.skills-title {
  max-width: 632px;
  margin: 0 auto;
  padding: 0 32px;
  text-align: center;
}

.private-tutor-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  font-size: 14px;
  color: #384047;
  font-family: "Arial";
  margin-bottom: 16px;
}

.private-tutor-link {
  min-height: 48px;
  padding: 12px 32px;
  font-size: 16px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  border: 0;
  align-items: center;
  line-height: 1;
  text-decoration: none;
  font-weight: 500;
  border-radius: 2px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
  outline: 0;
  transition: background-color 50ms;
  color: #fff;
  background-color: #3bb3bd;
  margin-bottom: 32px;
}

.success-story-h2 {
  font-size: 32px;
  font-family: "Arial";
  font-weight: 500;
  color: #384047;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 8px;
}

.wrap-div {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Arial";
}

.success-wrap-div {
  max-width: 632px;
  margin: 0 auto;
  padding: 0 32px;
  text-align: center;
  color: #384047;
  font-size: 14px;
  font-family: "Arial";
}

.success-text {
  color: #6f757b;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.42857;
}

.slick-slider {
  margin: 24px 0 40px;
  position: relative;
  display: block;
  user-select: none;
  touch-action: pan-y;
}

.slick-list {
  padding-top: 24px !important;
  transform: translateZ(0);
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
}

.slick-slider-main {
  margin: 24px 32px 96px;
  position: relative;
  display: block;
  user-select: none;
  touch-action: pan-y;
}

.slick-track::after {
  clear: both;
}

.slick-track::after,
.slick-track::before {
  content: "";
  display: table;
}

.slick-inside-img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transition: transform 0.6s, opacity.3s;
}

.slick-slide img {
  display: block;
}

.language-main-wrapper {
  font-size: 14px;
  font-family: "Arial";
  font-weight: 400;
}

.advantages-p {
  font-family: "Arial";
  line-height: 1.4285;
  margin-bottom: 8px;
  color: #384047;
  font-size: 18px;
}

.advantages-icon path {
  fill: #43bac4;
}

.advantages-ul {
  display: flex;
  flex-flow: wrap;
  padding: 32px 32px 8px;
}

@media screen and (max-width: 1080px) {
  .advantages-ul {
    flex-direction: column;
    align-items: center;
  }
}

.advantages-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 0 16px;
  list-style: none;
  text-align: center;
  color: #6f757b;
}

.advantages-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(59, 179, 189, 0.08);
  margin-bottom: 8px;
  flex-shrink: 0;
}

.advantages-second-p {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  color: #6f757b;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba (0, 0, 0, 0.4));
}

.img-class {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: absolute;
  object-position: right 50%;
  object-fit: cover;
}

.img-text-div {
  color: white;
  z-index: 10;
  position: relative;
  top: 50%;
  left: 20%;
  font-family: "Arial";
}

.img-title {
  font-size: 36px;
  line-height: 1.2;
}

.img-subtitles {
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 16px;
}

.img-btn {
  padding: 7px 5px;
  background-color: $button-color;
  border-color: $button-border-color;
  border: 1px solid $button-border-color;
  color: white;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  height: 50px;
}

.img-input {
  padding: 12px 8px;
  height: 50px;
  color: #d5d8dc;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  border-left: 10%;
  border: none;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 400;
  font-family: "Arial";
  border: none;
}

.grid-div {
  text-align: left;
}

.grid-h {
  color: #384047;
  font-size: 20px;
  line-height: 28.5667px;
  font-weight: 500;
  font-family: "Arial";
}

.grid-p {
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
  color: #6f757b;
  font-family: "Arial";
  font-weight: 400;
  line-height: normal;
}

.grid-link-wrap:hover {
  text-decoration: none;
}

.grid-icon {
  display: block;
  width: 28px;
  height: 28px;
  margin-right: 16px;
  color: #3bb3bd;
}

.grid-icon path {
  fill: #3bb3bd;
}

.grid-icon-div {
  height: 40px;
}

.grid-link-wrap {
  display: flex;
}

.toggler {
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  display: flex;
  border-top: 1px solid #f2f2f2;
  position: relative;
  font-family: "Arial";
  padding-left: 20px;
  background-color: white;
  width: 65.7%;
  margin-left: 30px;
}

.toggler-in-div {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 16px 32px;
  cursor: pointer;
  color: #3bb3bd;
  transform: rotate(180deg);
}

.rotated-icon {
  margin-right: 12px;
  transform: rotate(180deg);
}

.rotated-icon path {
  fill: #3bb3bd;
}

main {
  background-color: #edeff0;
  margin-top: 200px;
}

.languages-icon {
  display: block;
  width: 28px;
  height: 28px;
  margin-right: 16px;
  color: #3bb3bd;
}

.languages-grid-icon-div path {
  fill: #3bb3bd;
}

.languages-grid-p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Arial";
  color: #384047;
}

.languages-grid-second-p {
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
  color: #6f757b;
  font-family: "Arial";
}

.languages-link {
  text-decoration: none;
  display: flex;
}

.languages-grid-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.languages-grid-div > div {
  padding: 30px 100px;
}

.grid-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
}

#paper {
  margin-left: 30px;
  margin-bottom: 50px;
}

.grid-item {
  width: 100%;
}

#grid-containerz {
  z-index: 10;
  position: relative;
  left: 12%;
}

@media screen and (max-width: 1280px) {
  #grid-containerz {
    left: 0%;
  }
}

@media screen and (max-width: 1200px) {
  .first-half-nav,
  #login-mark {
    visibility: hidden;
  }

  .hamburger-div {
    visibility: visible !important;
  }

  .header:hover {
    .preply-logo-div svg path {
      fill: white;
    }
    .navbar {
      background: transparent;
    }

    #question-link {
      color: white !important;
    }
  }
}

.hamburger-div:hover svg path {
  fill: white;
}

.hamburger-div {
  visibility: hidden;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 64px;
  padding: 0 32px;
}

.wrapper-in {
  position: relative;
  background: #fff;
  border-radius: 4px;
  overflow: initial;
  padding: 48px 0;
}

.globe-icon-title {
  max-width: 632px;
  margin: 0 auto;
  padding: 0 32px;
  text-align: center;
}

.globe-icon svg {
  width: 32px;
  height: 32px;
}

.big-logo-wrapper {
  position: relative;
  width: 100%;
  justify-content: center;
  display: flex;
  margin: 120px 0 0;
  border-bottom: 1px solid #f2f2f2;
  align-items: center;
}

.big-logo-inside-wrapper {
  max-width: 852px;
  position: relative;
  width: 100%;
}

.wrapper-in {
  max-width: 852px;
  position: relative;
  width: 100%;
}

.picture-globe {
  display: relative;
  width: 100%;
}

.marker {
  position: absolute;
  width: 56px;
  transform: translate3d(-50%, 0, 0);
  cursor: pointer;
}

.marker::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 10px;
  height: 6px;
  border-radius: 50%;
  background: rgba(59, 179, 189, 0.7);
  box-shadow: 0 0 0 4px rgba(59, 179, 189, 0.3);
}

.marker:nth-child(2) {
  width: 70px;
  bottom: 93%;
  left: 50%;
}

.marker:nth-child(3) {
  width: 42px;
  bottom: 74%;
  left: 76%;
}

.marker:nth-child(4) {
  width: 42px;
  bottom: 74%;
  left: 24%;
}

.marker:nth-child(5) {
  bottom: 58%;
  left: 60%;
}

.marker:nth-child(6) {
  bottom: 58%;
  left: 40%;
}

.marker:nth-child(7) {
  bottom: 16%;
  left: 18%;
}

.marker:nth-child(8) {
  bottom: 20%;
  left: 50%;
}

.marker:nth-child(9) {
  width: 42px;
  bottom: 6%;
  left: 32%;
}

.marker:nth-child(10) {
  bottom: 16%;
  left: 82%;
}

.marker:nth-child(11) {
  width: 42px;
  bottom: 6%;
  left: 68%;
}

.marker-tip {
  position: relative;
}

.marker:nth-child(3)::after,
.marker:nth-child(4)::after,
.marker:nth-child(9)::after,
.marker:nth-child(11)::after {
  width: 7px;
  height: 5px;
}

.marker-svg {
  width: 100%;
  display: block;
}

.marker-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.marker-photo::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.marker-photo img {
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #45c0ca;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
}

.marker-link {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 8px);
  transition: opacity, transform, 0.2s;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #384047;
  opacity: 0;
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.2));
  pointer-events: none;
  visibility: hidden;
}

.marker-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% + 24px);
  width: 100%;
}

.marker-link::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 12px 12px 0;
}

.slick-arrow-btn::after {
  transform: translate(-50%, -50%) rotate(180deg);
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 18px;
  height: 14px;
  display: inline-block;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE3LjkyMyA3LjM4MmExLjAwMSAxLjAwMSAwIDAwLS4yMTctMS4wOWwtNS45OTktNmEuOTk5Ljk5OSAwIDEwLTEuNDE0IDEuNDE1TDE0LjU4NiA2SDFhMSAxIDAgMDAwIDJoMTMuNTg3bC00LjI5NCA0LjI5NGEuOTk5Ljk5OSAwIDEwMS40MTQgMS40MTRsNi02LjAwMWExLjAxIDEuMDEgMCAwMC4yMTYtLjMyNSIgZmlsbD0iIzM4NDA0NyIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+);
  backface-visibility: hidden;
}

.slick-arrow-btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  margin-top: -24px;
  transform: translateY(-50%);
  border: 4px solid #edeff0;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  text-shadow: none;
  color: transparent;
  cursor: pointer;
}

.how-preply-works {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 64px;
  padding: 0 32px;
}

.box {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  word-break: break-word;
  overflow-wrap: break-word;
  padding: 48px 0;
}

.box-icon {
  display: flex;
  width: 64px;
  height: 64px;
  background: #3bb3bd;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}

.box-title {
  max-width: 632px;
  margin: 0 auto;
  padding: 0 32px;
  text-align: center;
}

.box-h-title {
  color: #384047;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 8px;
  font-family: "Arial";
}

.box-p {
  color: #6f757b;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4285;
  font-family: "Arial";
}

.how-it-works {
  padding: 32px 24px 48px;
  font-family: "Arial";
}

.box-row {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  font-size: 14px;
}

.box-main {
  display: flex;
  width: 50%;
}

.box-number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  width: 48px;
  height: 48px;
  margin-right: 24px;
  background: rgba(59, 179, 189, 0.08);
  border-radius: 50%;
  color: #3bb3bd;
  font-size: 20px;
  font-weight: 500;
}

.box-info {
  flex: 1 1 auto;
}

.box-info-h {
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 1.3;
}

.box-text {
  line-height: 1.57142857;
  color: #6f757b;
}

.box-image {
  display: flex;
  width: 50%;
  margin-left: 24px;
  max-width: 494px;
}

.box-row:first-child .box-picture {
  padding-top: 41.11%;
}

.box-picture {
  position: relative;
  width: 100%;
}

.box-pic-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 0.3s;
}

.box-line-icon {
  position: relative;
  margin-bottom: 48px;
  background-color: #edeff0;
  border-top: 1px solid #edeff0;
}

.box-line-icon-svg {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate3d(-50%, -50%, 0);
  color: #3bb3bd;
  width: 84px;
  height: 84px;
}

.box-line-icon-titlewrap {
  max-width: 632px;
  margin: 0 auto;
  padding: 0 32px;
  text-align: center;
  font-size: 14px;
}

.titlewrap-h {
  color: #384047;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 8px;
}

.titlewrap-p {
  color: #6f757b;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4285;
}

.tutor-with-preply {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 64px;
  padding: 0 32px;
  font-family: "Arial";
  font-size: 14px;
}

.tutor-story-wrapper {
  position: relative;
  display: flex;
  align-items: stretch;
  min-height: 450px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.tutor-story-img {
  display: flex;
  position: relative;
  width: 45%;
  overflow: hidden;
  order: 2;
}

.tutor-picture {
  position: relative;
  width: 100%;
}

.tutor-img {
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.tutor-story-main {
  position: relative;
  width: 55%;
  padding: 48px 32px;
  height: 100%;
}

.tutor-main-title {
  margin-bottom: 8px;
  color: #384047;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3;
}

.tutor-subtitle {
  color: #6f757b;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4444;
}

.tutor-ul {
  list-style-type: none;
  margin: 24px 0;
}

.tutor-li {
  margin-bottom: 16px;
  display: flex;
}

.tutor-svg {
  margin-right: 8px;
}

.tutor-story-action {
  margin-top: 18%;
}

.tutor-btn {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  cursor: pointer;
  user-select: none;
  outline: 0;
  transition: color 50ms, background-color 50ms, border-color 50ms,
    box-shadow 0.2s;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  font-weight: 500;
  background: #3bb3bd;
  color: #fff;
  border: 1px solid #3bb3bd;
  margin-right: 32px;
  padding: 15px 30px;
  font-size: 16px;
}

.tutor-link {
  font-weight: 500;
  color: #3bb3bd;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
}

.link-svg {
  position: relative;
  top: 4px;
  right: 8px;
}

.in-the-news-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Arial";
  font-size: 14px;
}

.in-the-news-titlewrapper {
  max-width: 632px;
  margin: 0 auto;
  padding: 0 32px;
  text-align: center;
}

.in-the-news-title {
  color: #384047;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 8px;
}

.in-the-news-p {
  color: #6f757b;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4285;
}

.in-the-news-spick-slider {
  margin: 24px 32px 64px;
  position: relative;
  display: block;
  user-select: none;
  touch-action: pan-y;
}

.in-the-news-spick-slide {
  display: flex;
  font-size: 14px;
}

.in-the-news-spick-list {
  transform: translateZ(0);
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.in-the-news-track {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
}

.in-the-news-track::after,
.in-the-news-track::before {
  content: "";
  display: table;
}

.in-the-news-track::after {
  clear: both;
}

.blockquote {
  margin: 32px 0 0;
  color: #384047;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4285;
  text-align: center;
  letter-spacing: 0.1px;
}

.in-the-news-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 32px 12px;
  background: #fff;
  margin: 0 16px;
  height: 320px;
  border-radius: 4px;
  font-size: 14px;
}

.in-the-news-image {
  display: block;
  width: 176px;
  height: 72px;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

// LAST ITEM

.wrapper-last-item {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 64px;
  padding: 0 32px;
  font-family: "Arial";
}

.wrapper-getstarted {
  background-color: #fff;
}

.getstarted-picture {
  display: block;
  position: relative;
  width: 100%;
  height: 400px;
  border-radius: 4px 4px 0 0;
}

.getstarted-img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 1;
  transition: opacity 0.3s;
}

.getstarted-title {
  margin-bottom: 16px;
  color: #384047;
  font-size: 32px;
  line-height: 1.25;
  font-weight: 300;
}

.getstarted-content {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  padding: 48px 32px;
}

.getstarted-svg {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate3d(-50%, -50%, 0);
}

.getstarted-subtitle {
  margin-bottom: 24px;
  color: #6f757b;
  font-size: 18px;
  font-weight: 300;
}

.getstarted-btn {
  min-height: 48px;
  padding: 12px 32px;
  font-size: 16px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  border: 0;
  align-items: center;
  line-height: 1;
  text-decoration: none;
  font-weight: 500;
  border-radius: 2px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
  outline: 0;
  transition: background-color 50ms;
  color: #fff;
  background-color: #3bb3bd;
}
