@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  font-family: "Arial";
  font-size: 14px;
  color: black;
  background: transparent;
  display: flex;
  justify-content: space-evenly;
}

.rightside-icons {
  list-style: none;
  display: flex;
}

.rightside-icons > li {
  padding: 10px;
}

.leftside-links {
  list-style: none;
  display: flex;
}

.leftside-links > li {
  padding: 10px;
}

.img {
  padding-bottom: 40px;
  height: 100%;
  width: 100%;
}

#google-login {
  background-color: #5a95f5;
}

.login-form {
  margin-bottom: 100px;
  background-color: #fff;
  font-family: "Roboto";
  height: 60vh;
  width: 40vw;
}

.upper-login {
  display: flex;
  justify-content: space-around;
}

.login-text {
  font-size: 24px;
  font-weight: 500;
}

.login-span {
  font-size: 14px;
  color: #63c3cb;
}

.login-span-text {
  font-size: 14px;
  color: #999;
}

.login-form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edeff0;
  height: 100vh;
}

.or-span {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #999;
  margin: 8px 0px;
  font-size: 14px;
}
.or-span::before,
.or-span::after {
  content: "";
  flex-grow: 1;
  background: #999;
  height: 0.6px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

.form-label {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 600;
  line-height: 18px;
  color: #333;
  letter-spacing: 0.5px;
}

.form-input {
  background: #fffcc8;
  border-color: #ebd5aa;
}

.formspan {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  color: #63c3cb;
  font-family: "Roboto";
}

.form-span-p {
  color: #63c3cb;
  text-decoration: none;
}

.formspan-link {
  text-decoration: none;
}

.bottom-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upper-footer {
  color: #e3e5e6;
  font-family: "Arial";
  font-size: 14px;
  line-height: 24px;
  background-color: #384047;
}

.lower-footer {
  color: #e3e5e6;
  font-family: "Arial";
  font-size: 12px;
  line-height: 20.5667px;
  background-color: #32393f;
}

.upper-links,
.upper-links:hover {
  color: #e3e5e6;
}

.below-links,
.below-links:hover {
  color: #e3e5e6;
  text-decoration: none;
}

.footer-h {
  font-size: 16px;
  line-height: normal;
  color: #fff;
  font-weight: inherit;
  padding: 10px 0;
}

.upper-first-div {
  display: flex;
}

.upper-first-ul {
  list-style: none;
  padding: 50px;
}

.upper-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  padding-right: 250px;
}

.upper-below-div {
  display: flex;
}

.upper-second-ul {
  list-style: none;
  padding: 30px;
}

.lower-upper-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lower-ul {
  list-style: none;
  padding: 50px;
}

.lower-lower-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lowest-ul {
  display: flex;
  list-style: none;
}

.lowest-ul > li {
  padding: 0 15px;
}

.facebook-icon {
  height: 30px;
  font-size: 16px;
}

.vk-icon {
  color: #384047;
  background-color: white;
}

.usa-flag {
  height: 10px;
  padding: 0 5px;
}

.usa {
  color: white;
}

.icon {
  height: 20px;
  margin: 5px;
  font-size: 16px;
}
